{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">PROJECTS</h1>
    <div class="row text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="i-color fa-solid fa-temperature-quarter fa-2x mb-3"></i>
            <h3><a href="https://github.com/Chhabii/Stressometer" style="text-decoration: none; color:#7fff00;">Stressometer</a></h3>
            <p class="ss-color">Measures the stress level of a student.</p>
        </div>
        
        <div class="col-sm-4">
            <i class="fa-solid fa-file fa-2x mb-3 i-color"></i>
            <h3><a href="https://github.com/Chhabii/Portfolio" style="text-decoration: none; color:#7fff00;"> MyResume</a></h3>
            <p class="ss-color">A simple resume.</p>
        </div>
    </div>
    
    
</div>
{% endblock content %}
